@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap:100,200,300,400,500,600,700');

html {
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    background: hsl(39, 92%, 44%);
}

img {
    width: 100px;
}

.game-title {
    text-align: center;
    font-family: 'ultra', serif;
    font-size: 350%;
    color: #4a4a50;
}

.info-container {
    text-align: center;
    font-family: 'ultra', serif;
    font-size: 200%;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    margin-left: 4em;
    margin-right: 5em;
}

.memory-game {
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding-bottom: 2em;
}

.card {
    border: solid 5px red;
    width: 25%;
    height: 33.33%;
    position: relative;
}

.front-card,
.back-card{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px;
    background: hsl(39, 92%, 44%);
}

.copyright{
    font-family: 'ultra', serif;
    font-size: 15px;
    padding-bottom: 5px;
    text-align: center;
}