@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap:100,200,300,400,500,600,700');

html {
    max-width: 100%;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    background: hsl(39, 92%, 44%);
}

img {
    width: 100px;
}

.memory-game {
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
}

.card {
    border: solid 5px red;
    width: 25%;
    height: 33.33%;
    position: relative;
}

.front-card,
.back-card{
    position: absolute;
}