@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap:100,200,300,400,500,600,700');

/*---------------------General (Credits: Influenced based on research & Code Institute)*/

html {
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    background: hsl(39, 92%, 44%);
}

/* -------------------------------------------------Images*/

img {
    width: 100px;
}

/* ---------------------Heading (Credits: Influenced based on research & Web Dev Simplified Tutorial)*/

.game-title {
    text-align: center;
    font-family: 'ultra', serif;
    font-size: 350%;
    color: #001068;
}

/* ----------------Timer & Flips (Credits: Influenced based on research & Web Dev Simplified Tutorial)*/

.info-container {
    text-align: center;
    font-family: 'ultra', serif;
    font-size: 200%;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    margin-left: 4em;
    margin-right: 7em;
}

/* -----------Board-game & Cards Section (Credits: Influenced by Marina-Ferreira & Web Dev Simplified Tutorials)*/

.memory-game {
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding-bottom: 2em;
    perspective: 500px;
    
}

.card {
    border: solid 5px red;
    width: 25%;
    height: 33.33%;
    position: relative;
    border-radius: 15px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .25s ease-in-out;
}

.card:active {
  transform: scale(0.95);
  transition: transform .25s ease-in-out;
}

.card.flip {
  transform: rotateY(180deg);
}

.front-card,
.back-card{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px;
    backface-visibility: hidden;
    background: hsl(39, 92%, 44%);
}

.front-card {
  transform: rotateY(180deg);
}

.back-card:hover {
    transform: scale(1.5);
    transition: 5s ease-in-out;
}

/* ----------------Overlay Contents (Credits: Influenced based on research & Web Dev Simplified Tutorial)*/

.overlay-msg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
    color: rgb(8, 156, 20);
    font-family: 'ultra', serif;
}

.overlay-msg.visible {
  display: flex;
  animation: overlay-grow 500ms forwards;
}

/* -----------------------------Footer (Credits: Influenced based on research & Code Institute)*/

.copyright{
    font-family: 'ultra', serif;
    font-size: 15px;
    padding-bottom: 5px;
    text-align: center;
}